  <footer class="text-center text-lg-start p-4">
    <section class="d-flex justify-content-center">
      <div class="col">
        <p>© 2024 Copyright: Zymbiote, Inc. All rights reserved.</p>
      </div>
      <div class="col flex-row mobile-hidden border-bottom">
          <a class="m-4">Home</a>
          <a class="m-4">Store</a>
          <a class="m-4">Video</a>
          <a class="m-4">FAQs</a>
          <a class="m-4">About</a>
      </div>
      <div class="col">
        
      </div>
    </section>
  </footer>