footer {
    background-color: rgb(31, 31, 31);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 991px) 
{
    .mobile-hidden {
        display: none;
    }
}