<header style="border-bottom: 1px solid red;" class="pt-5 pb-3">
    <div class="d-flex flex-column align-items-center">
        <h1 class="p-2">Stay Zym in <span style="color: red;">ZymShop!</span></h1><br>
        <button class="p-2 btn btn-outline-danger border border-danger rounded-pill" (click)="routeToPage('store')">Shop Now</button>
    </div>
</header>

<section style="border-bottom: 1px solid red" class="px-5 py-5">
    <div>
        <h3>New Shirts Available!</h3>

    </div>
</section>

<section style="border-bottom: 1px solid red;" class="px-5 py-5">
    <div class="col-md-4 p-3 summary-container">
        <h3 class="mb-4">Who we are?</h3>
        <p>
            We are a small group of individuals working in developing a small ecommerce store
            selling our own merchandise of graphic tees and varies clothing. Our plan is to 
            expand into an enterprise business that can sell items other than clothing that
            can even include items from our own clients. This application first started as a 
            small portfolio project to help land a job as Software Developers, but I (Jesus Diaz)
            grew an interest in actually making an official store selling my art through shirts.

            (image of myself or designs in the right side)
        </p>
        <a routerLink="/about">Learn More</a>
    </div>
    <div class="col">
        <h3>What services We Offer?</h3>
        <p>
            We use a heat press to label our clothing using our own brand, which can be for various items 
            such as shirts, pants, hats, coffee mugs, and dinner plates.The designs we make are made through
            Photoshop, ProCreate, and other image editing softwares.  (image of heat press/shirts left side)
        </p>
    </div>
</section>